html {
    height: 100%;
}
body {
    /* why is this reseting at the bottom? */
    height: 100%;
    background-image: linear-gradient(120deg, rgb(114,47,55) 0%, rgb(29, 49, 73) 70%);
    margin: 0;
    background-repeat: no-repeat;
}

.responsive {
    width: 75%;
    height: auto;
}
