@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(120deg, rgb(114,47,55) 0%, rgb(29, 49, 73) 70%);
    /* margin: 0; */
}

.responsive {
    width: 50%;
    height: auto;
    display: inline;
    color: white;
    font-size: 2.5rem;
}
#title {
    text-shadow: 4px 4px black;
}
.card-header {
    background-color: rgb(205, 200, 200);
}
.card-footer {
    background-color: rgb(205, 200, 200);
}

img {
    padding: 15px;
}
.displayBox {
    width: 100%;
}
.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}